@font-face {
  /* Définition of font called Raleway*/
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* GENERAL */

.d-flex {
  display: flex;
}

/* HEADER */
/* Main elements of the page */
html,
body {
  height: 100%;
  background: #fff;
  color: #000;
  font-family: "Raleway", Arial, serif;
}

/*for all links*/
a{
  color: #000;
  text-decoration: none;
}

/*set max width*/
#main, #header {
  max-width: 1340px;
  margin: auto;
}
footer{
  background: #f2f2f2;
  max-width: 1440px;
  margin: auto;
}

/*border-box tells the browser to take into account the border and the filling
 filling in the value defined for the width and height*/
* {
  box-sizing: border-box;
}

/*set heading title sizes*/
h1, h2 {
  font-size: 1.25rem; /*20px*/
  margin: 0rem;
  font-weight: bolder;
  margin-bottom: 0rem;
}

h3 {
  font-size: 1rem; /*16px*/
  font-weight: bolder;
}

/*Logo & Navigation*/
#header {
  justify-content: space-between;
  flex-wrap: wrap;
}

#reservia-logo{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#filter>p{
margin-top: 8px;
}

/* Navigation*/
nav ul {
  display: flex;
  list-style-type: none; /*remove point*/
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
  padding-left: 0rem;
}

/* navigation spacing*/
nav a {
   margin-left: 3rem;
}

/* set colour of "last" link "inscrire" to blue & bold instead of black*/
nav li:last-child a{
  color:#0065fc; 
  font-weight: bolder;
}

/*define navigation hover syle*/
nav a:hover {
  color: #0065fc;
  font-weight: bolder;
  border-top: 0.2rem solid #0065fc;
  padding-top: 1.4rem;
}

/*MAIN*/

/*SEARCH BUTTON */

/*icon sizing & position left side of search button*/
#place-logo {
  height: 50px;
  width: 50px;
  background: #f2f2f2;
  border-radius: 0.8rem 0rem 0rem 0.8rem;
  padding: 16px;
  /*position: relative;
  right: -1px;*/
}

/*styling for input field of search button*/
input[type="text"] {
  height: 50px;
	width: 234px;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: bolder;
	border: 2px solid #f2f2f2;
}

/*styling for right side of search button in blue*/
label {
	font-weight: bold;
	color: #fff;
	background: #0065fc;
	padding: 15px;
	border-radius: 0rem 0.8rem 0.8rem 0rem;
	margin-left: 0rem;
	position: relative;
	left: -4px;
}

/* "visible" search button text*/
#search-button{                           
  display: inline-block;
} 

/*styling for Magnify Glass icon that replaces Rechercher button text on mobile devices*/
#magnify-button img {
	height: 50px;
	width: 50px;
	background: #0065fc;
	border-radius: 19px;
	padding: 12px;
  position: relative;
  left: -15px;
}

/*Magnifie Glass Icon current hidden as only used on mobile devices: see media queries*/
#magnify-button{
  display: none;
}

/*FILTER BUTTONS*/

/*align filter-title & buttons*/
#filter-buttons-items {
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.875rem;
  gap: 1.5625rem;
}

.filter-title {
  margin-right: 0.5rem;
}

/*defining general shape of filter button that surrounds text*/
.filter-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 2.5rem;
  border-radius: 10rem;
  border: 0.1rem solid #f2f2f2;
  background: #fff;
  font-weight: bold;
}

/*aligning text in filter button*/
.filter-btn p{
    padding: 1rem;
}

/*Styling (eg, circle) & position for icon in filter button*/
.filter-btn img {
    height: 2.5rem;
    width: 2.5rem;
    background: #deebff;
    border-radius: 50%;
    padding: 0.625rem;
    position: relative;
    left: -1px;
}

.filter-btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
  /* x,y,blur,spread*/
}

/*information icon styling*/
#info{
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

#info img {
  height: 1.875rem;
  width: 1.875rem;
  padding: 6px;
  margin-right: 0.625rem;
  border-radius: 50%;
  background: #ffff;
  border: 2px solid #f2f2f2;
}

/*HEBERGEMENT & LES PLUS POPULAIRE SECTION*/

/*style background for hebergement& les populaire*/
article, aside{
  padding: 20px;
  background: #F2F2F2;
  border-radius: 1rem;
}

/*setting width ratio between hebergement & les populaire sections*/
article{
  margin-right: 2rem;
  width: 68%;
}

aside{
  width: 32%;
}

/*HEBERGEMENT ARTICLE*/

/*Positioning, Spacing & styling of Hebergement cards*/
#hebergement-items{
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: 1.75rem;
  padding-left: 0rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.heberge-card{
  /*short hand for flex grow, flesh shrink, flex-basis
  cards shrink & grow. width of card is 240px but will grow to max 380px*/
  flex: 1 1 245px;
/*  max-width: 380px;*/
}

.heberge-card a {
  display: flex;
  flex-direction: column;
  border-radius: 1rem; 
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

/*positioning of descriptions under cards*/
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: -5px;
  padding-left: 8px;
}

.description p {
    margin-top: -0.625rem;
}

/*hebergement image styling*/
.heberge-card img{
 /*top-left,top-right,bottom-right,bottom-left*/
 border-radius: 1rem 1rem 0rem 0rem;
 height: 115px;
 object-fit: cover;
}

/*sizing of accomodation blue/grey star rating*/
.rating{
  display: flex;
  margin-top: -0.625rem;
}

.star-blue{
  width: 1rem;
  height: 1rem;
  background-image: url("../images/icon/star-solid-blue.svg");
}

.star-grey{
  width: 1rem;
  height: 1rem;
  background-image: url("../images/icon/star-solid-grey.svg");
}





 /*LES PLUS POPULAIRE ASIDE*/
/*Positioning, Spacing & styling of Popular cards */

 .popular-title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

 /*icon sizing of black graph icon*/
 .popular-title img{
  height: 1rem;
  width: 1rem;
}

/*popular cards container*/
#popular-items{
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0rem;
  margin-top: 1.875rem;
  gap: 1.875rem;
}

/*Popular card horizontal sizing*/
/*short hand for flex-grow,flow-shrink,flex basis: items with grow & shrink,
but no smaller than 284px or larger than 376px*/
.pop-card{
flex: 1 1;
min-width: 284px;
max-width: 376px;
}

/*popular card styling*/
.pop-card a{
  display: flex;
  border-radius: 1rem; 
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  padding: 5px;

}

/*popular image sizing etc*/
.pop-card img{
  /*top-left,top-right,bottom-right,bottom-left*/
  border-radius: 1rem  0rem 0rem 1rem;
  width: 126px;
  height: 132px;
  object-fit: cover;
}

/*ACTIVITIES SECTION*/

#activities{
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

/*activity cards container: must set height & flex column/wrap in
order to create masonry effect*/
#activity-items {
	height: 462px; /*480*/
	flex-flow: column wrap;
  /*shorthand for flex direction & flex-wrap*/
  justify-content: space-between;
	align-content: space-evenly;
  padding-left: 0rem;
}

/*set % width of cards to fit container horizontally*/
.activity-card{
  width: 25.75%;
}

/*styling of activity card*/
.activity-card a{
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

/*align text of activity cards*/
.activity-card h3{
  padding-left: 10px;
}

/*activity image styling*/
.activity-card img{
 /*top-left,top-right,bottom-right,bottom-left*/
 border-radius: 1rem 1rem 0rem 0rem;
 object-fit: cover;
}

/*setting the height of each activity card*/
.activity-card img:nth-child(1), img:nth-child(4){
  height: 380px;
}

.activity-card:nth-child(2) img{
  height: 180px;
}

.activity-card:nth-child(3) img{
  height: 115px;
}

.activity-card:nth-child(5) img{
  height: 135px;
} 

.activity-card:nth-child(6) img{
  height: 158px;
} 

/*HOVER STYLING*/
/*hover style for ALL cards*/
.heberge-card a:hover, .pop-card a:hover, .activity-card a:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .8);
}

/*define  hover syle for other links*/
#afficher:hover, footer a:hover {
  color: #0065fc;

}

/*FOOTER*/

#footer{
  flex-wrap: wrap;
}

#about, #accommodation, #assistance{
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  flex: auto; 
  /*sized according to its width and height properties, but grows to absorb any extra free space in the flex container and shrinks to its minimum size to fit the container*/
}  

footer ul{
  list-style-type: none;
  padding-left: 0rem;
  line-height: 1.875rem;
}

/*MEDIA QUERIES*/

@media all and (max-width: 1060px){

/*reverse the column so populaire cards stack on top of hebergement cards*/
#hebergements{
  flex-direction: column-reverse;
  align-items: center;
}

/*remove margin seperating hebergement & populaire cards*/
article {
  margin-right: 0rem;
}
  
/*The hebergemnt & populaire cards are stacked on each other so
  both ned to extend to full width of screen*/
article, aside{
  width: 100%;
}

/*alter borders edges */
article {
  border-radius: 0rem 0rem 1rem 1rem;
}
aside{
  border-radius: 1rem 1rem 0rem 0rem;
}

/*ACTIVITY CARDS*/
 
/*activity card container height change so two columns possible*/
#activity-items {
  height: 925px;
 }

/*50% so two cards fit neatly in two columns*/
.activity-card {
  width: 50%;
}

}/*end of first breakpoint*/


@media all and (max-width: 768px){

 #filter{
  padding: 20px;
}

/*change navigation hover from above to below the text*/
nav a:hover {
  border-top: none;
  border-bottom: 0.1rem solid #0065fc
}

/*restrict populaire card sizing to control safegauard layout*/
.pop-card {
  min-width: 342px;
  max-width: 550px;
}

/*set all activity card pictures to the same height*/
.activity-card:nth-child(-n+6) img{
  height: 135px;
} 

/*activity card container height adjusted*/
#activity-items {
  height: 694px;
}

}

/* BREAKPOINT MOBILE PHONES*/

@media all and (max-width: 482px)
{

/*remove any margin so footer gey background spans full width*/
body{
  margin: 0px;
}

#reservia-logo {
	padding-left: 20px;
}

/*need some space around below sections*/
 #filter, #activities{
  padding: 20px;
}

/*NAVIGATION*/

/*reposition s'inscrire to top right*/
nav li:last-child {
  position: absolute;
  top: 55px;
  right: 20px;
} 

/*make remaining navigation bar span screen width*/
nav{
  width: 100%;
}

 /* nav ul{
    justify-content: inherit;
  }*/

/*Hebergement & Activity nav link each occupy 50% of screen width*/
nav li:nth-child(-n+2){
  width: 50%;
  text-align: center;
}

/*remove margin so links line up/center properly*/
nav a{
  margin-left: 0px;
}

/*NAVIGATION HOVER ADJUST*/
/*Hebergement & Activity underline span 50% of screen so target list length
rather than link length for hover underline*/
nav li:hover{
  border-bottom: 0.2rem solid #0065fc;
}

/*last in list "S'inscrire" underline just the link/word
nav li:last-child a:hover{
  border-bottom: 0.2rem solid #0065fc;
}*/

/*SEARCH BUTTON*/

/*margin-rigtht forces filter buttons to next line*/
.filter-title {
  margin-right: 13.5rem;
}

/*Hide "Rechercher" text in Search button*/
#text-button{                           
 display: none;
}
/*Hide "Rechercher" background in Search button*/
label {
 padding: 0px;
}

/*Replace text with Magnify Logo instead*/
#magnify-button{
  display: inline-block;
}

/* MAIN*/

/*remove background colour from Hebergement section*/
article {
  background: #fff;
}

/*make edges straight on populaire border*/
 aside{
  border-radius: 0rem;
}

/*to reduce spacing between Hebergement & Activity cards when stacked*/
#activities {
  margin-top: 1rem;
}

/*activity cards allowed to stack & align in single column*/ 
#activity-items {
  flex-wrap: nowrap;
  height: 100%;
}

/*activity cards span whole width*/
.activity-card {
  width: 100%;
}

/*remove margin so cards align with hebergement cards above*/
.activity-card a {
  margin-left: 0px;
  margin-right: 0px;
}

/*FOOTER*/

/*change footer direction & align text for iphone 8*/
footer{
  flex-direction: column;
}

#about, #accommodation, #assistance {
	margin-left: 30px;
}

}/*end of MOBILE breakpoint*/