
@font-face { /* Définition d'une nouvelle police nommée Raleway*/
    font-family: 'Raleway';
    src:url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* Eléments principaux de la page */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: 'Raleway', Arial, serif;
}

/*border-box indique au navigateur de prendre en compte la bordure et
 le remplissage dans la valeur définie pour la largeur et la hauteur*/
* {
  box-sizing: border-box;
}

/* temp*/
.container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
